@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: rgba(64, 123, 255, 1);
    transition: all 0.5s ease;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
}
.sidebar .logo-details i {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center;
}
.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.sidebar .nav-links {
    margin-top: 10px;
}
.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}
.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li a.active {
    background: rgba(0, 53, 172, 1);
}
.sidebar .nav-links li a:hover {
    background: rgba(0, 53, 172, 1);
}
.sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.sidebar .nav-links li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}
.sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.home-section {
    position: relative;
    background: #f1f5f9;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}
.sidebar.active ~ .home-section {
    width: calc(100% - 60px);
    left: 60px;
}
.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}
.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}
nav .sidebar-button i {
    font-size: 35px;
    margin-right: 10px;
}
.home-section nav .search-box {
    position: relative;
    height: 50px;
    max-width: 300px;
    width: 100%;
    margin: 0 20px;
}
nav .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #fff;
    border: 2px solid #efeef1;
    border-radius: 25px;
    font-size: 15px;
    padding: 0 15px;
}
nav .search-box .bx-search {
    position: absolute;
    height: 40px;
    width: 40px;
    background: rgba(64, 123, 255, 1);
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 25px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
}
.home-section nav .profile-details {
    display: flex;
    align-items: center;
    background: #fff;
    border: 2px solid #efeef1;
    border-radius: 6px;
    height: 50px;
    min-width: 150px;
    padding: 0 15px 0 2px;
}
nav .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
}
nav .profile-details .admin_name {
    font-size: 13px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}
nav .profile-details i {
    font-size: 25px;
    color: #333;
}
.home-section .home-content {
    position: relative;
    padding-top: 90px;
}
body {
    background: #f1f1f1;
}
@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 60px;
        z-index: 150;
    }

    .sidebar .sidebar-header h3 span,
    .sidebar li span:last-child {
        display: none;
    }

    .sidebar .sidebar-header,
    .sidebar li {
        display: flex;
        justify-content: center;
    }

    .main-content {
        margin-left: 60px;
    }

    .main-content header {
        left: 60px;
        width: calc(100% - 60px);
    }

    #sidebar-toggle:checked ~ .sidebar {
        width: 240px;
    }

    #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
    #sidebar-toggle:checked ~ .sidebar li span:last-child {
        display: inline;
    }

    #sidebar-toggle:checked ~ .sidebar .sidebar-header {
        display: flex;
        justify-content: space-between;
    }

    #sidebar-toggle:checked ~ .sidebar li {
        display: block;
    }

    #sidebar-toggle:checked ~ .main-content {
        margin-left: 60px;
    }

    #sidebar-toggle:checked ~ .main-content header {
        left: 60px;
    }
}

h1 {
    background-color: blue;
    margin: 0;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 5px solid white;
    text-align: center;
}

.conteudo {
    left: 50%;
    margin: 0 0 0 -250px;
    position: absolute;
    width: 500px;
}
.calendario {
    text-align: center;
}
.conteudo .calendario header {
    position: relative;
}
h2 {
    margin-top: 20px;
    font-size: 32px;
    text-transform: uppercase;
}
.btn-ant,
.btn-pro {
    position: absolute;
    top: 50px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    margin-top: -16px;
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color: #cbd1d2;
    font-size: 16px;
    font-weight: bold;
}
.btn-ant {
    left: 80px;
}
.btn-pro {
    right: 80px;
}
.btn-ant:hover,
.btn-pro:hover {
    background: #cbd1d2;
    color: #f9f9f9;
}
.calendario table {
    margin-top: 20px;
    border-collapse: collapse;
}
.calendario thead {
    background: white;
    font-weight: 600;
    text-transform: uppercase;
}
.calendario td {
    border: 1px solid #cbd1d2;
    height: 71.4px;
    text-align: center;
    width: 71.4px;
}
.calendario tbody td {
    cursor: pointer;
}
.calendario tbody td:hover {
    background: rgba(0, 173, 223, 0.8);
    color: #f9f9f9;
}
.calendario table .dia-atual {
    background: #00addf;
    color: #f9f9f9;
}
.calendario .mes-anterior,
.calendario .proximo-mes {
    color: #cbd1d2;
}
.calendario .mes-anterior:hover,
.calendario .proximo-mes:hover {
    background: #98a0a0;
}
.event {
    position: relative;
}

.event::after {
    content: "";
    width: 7px;
    height: 7px;
    left: 50%;
    bottom: 7px;
    margin: -3.5px 0 0 -3.5px;
    background: #00addf;
    display: block;
    position: absolute;
    border-radius: 50%;
}
.event:hover::after {
    background: #f9f9f9;
}
.event.dia-atual::after {
    background: #f9f9f9;
}
